.DS_Store
Thumbs.db
/fsh-generated
/input-cache
/output
/temp
/template
# IG publisher caches/output inside docs/
/docs/**/input-cache
/docs/**/temp
/docs/**/template
/docs/**/output
/docs/**/fsh-generated
